@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,700);

input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Open Sans', sans-serif;a;
  font-weight: 300;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  background-color: #efefef;
  padding: 2px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

.navbar-brand {
    font-weight: bold;
}

div.leaflet-control-zoom {
    margin-top: 25px !important;
}


.shiny-input-container {
  margin: 0 auto;
}

.shiny-plot-output {
  margin: 0 auto;
}

.control-label {
  margin-top: 4px;
}
